version: "3.9"
services:
  backend:
    build: ./production_inspection_bot
    volumes:
      - ./production_inspection_bot/static:/app/static
      - ./production_inspection_bot/local.db:/app/local.db
    ports:
      - "8000:8000"
    restart: always
  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
